@model EarlyAccessAllowedModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if(Model == null)
{
    <p>Something went wrong!</p>
}
else
{
    <form method="post" enctype="multipart/form-data">
        <p>Adding new tester to EA group <b>@Model.GroupName</b></p>
        <br>
        <input type="hidden" value="@Model.GroupName" asp-for="GroupName">

        <label>Username: </label>
        @Html.TextBoxFor(m => m.Username)<br />

        <label>SteamID64: </label>
        @Html.TextBoxFor(m => m.Steam64)<br />

        <input type="submit">
    </form>
}

@ViewBag.Msg